.tarot-cards {
    display: flex;
    justify-content: center;
    gap: 305px;
    margin-top: 80px;
}

.tarot-card {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.tarot-card:hover {
    transform: translateY(-5px);
}

.tarot-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.tarot-card img:first-child {
    left: 120px;
}

.tarot-card img:nth-child(2) {
    top: -50px;
    z-index: 1;
}

.tarot-card img:nth-child(3) {
    right: 120px;
}

.tarot-cards p {
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    text-align: center;
    color: #fff !important;
    transition: ease-in-out 0.3s;
    font-weight: 500;
    line-height: 1.6;
}

.tarot-card p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
}

.tarot-card:hover p::after {
    transform: scaleX(1);
}

.tarot-card p span {
    font-weight: bold;
}

.tarot-card p small {
    padding-top: 10px;
    font-weight: 300;
}

/* 태블릿 가로 및 더 작은 디스플레이를 위한 스타일 */
@media (max-width: 1024px) {
    .tarot-cards {
        gap: 150px; /* 간격 줄임 */
    }

    .tarot-card img:first-child,
    .tarot-card img:nth-child(3) {
        display: none; /* 외부 이미지 숨김 */
    }
}

/* 태블릿 세로 및 더 작은 디스플레이를 위한 스타일 */
@media (max-width: 768px) {
    .tarot-cards {
        flex-direction: column; /* 카드를 세로로 정렬 */
        gap: 50px; /* 세로 간격 조정 */
    }

    .tarot-card {
        width: 150px; /* 카드 크기 조정 */
        height: 225px;
    }
}

/* 모바일 디바이스를 위한 스타일 */
@media (max-width: 480px) {
    .tarot-cards {
        margin: 0 auto;
        gap: 30px; /* 더 작은 간격 */
    }

    .tarot-card p {
        bottom: -50px; /* 텍스트 위치 조정 */
    }
    .tarot-card {
        width: 75px; /* 카드 크기 조정 */
        height: 112.5px;
    }
}
