html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    /* overflow: hidden; */
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.layout {
    max-width: 1920px; /* 최대 너비 설정 */
    width: 100%; /* 화면 너비에 맞게 조정 */
    flex: 1;
    margin: 0 auto; /* 중앙 정렬 */
}

.header {
    max-width: 1480px; /* 최대 너비 설정 */
    width: 100%; /* 화면 너비에 맞게 조정 */
    margin: 0 auto; /* 중앙 정렬 */
    position: relative;
    color: #fff;
    height: 100%;
}
.header ul {
    float: right;
    margin-top: 20px;
    display: flex;
    gap: 15px;
    margin-right: 30px;
}
.logo {
    position: absolute;
    left: 0;
    top: 0;
}
.footer {
    border-top: 1px solid #272e2f;
    max-width: 1480px;
    height: 5vh;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #f8f8f8; */
    text-align: center;
    font-size: 14px;
    color: #666;
}

@font-face {
    font-family: 'SUIT';
    src: url('/font/SUIT-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT';
    src: url('/font/SUIT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT';
    src: url('/font/SUIT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body {
    position: relative;
    background: linear-gradient(to bottom, #042831, #253438, #122d34);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    font-family: 'SUIT', sans-serif;
    display: flex;
    flex-direction: column;
}

body::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: url('/images/symbolBG.png') no-repeat center;
    background-size: contain;
    opacity: 0.5;
    z-index: -1;
    transform: translate(-50%, -50%) scale(0.8);
}
button {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

/* 미디어 쿼리를 사용하여 브레이크 포인트별 배경 사이즈 조정 */
@media (max-width: 1024px) {
    body {
        background-size: auto 100%; /* 데스크탑 화면보다 작은 경우 */
    }
}

@media (max-width: 768px) {
    body {
        background-size: auto 100%; /* 태블릿 화면 크기에 맞게 조정 */
    }
}
@media (max-width: 1470px) {
    .logo {
        top: 5px;
        left: 5px;
        width: 200px;
    }
    body {
        overflow-y: scroll;
        min-height: 100%;
        background-size: auto 100%; /* 모바일 화면 크기에 맞게 조정 */
    }
    .layout {
        height: 100%;
        min-height: 100vh;
    }
}
@media (max-width: 480px) {
    .logo {
        top: 5px;
        left: 5px;
        width: 150px;
        /* width: 100%;
        height: 100%; */
    }
    body {
        overflow-y: scroll;
        min-height: 100%;
        background-size: auto 100%; /* 모바일 화면 크기에 맞게 조정 */
    }
    .layout {
        min-height: 100vh;
        max-height: 100%;
        height: 100%;
    }
    /* .footer {
        position: fixed;
        bottom: 0;
        border: none;
    } */
}
